web:
  build: .
  ports:
    - "8080:8080"
  environment:
    - SPRING_DATASOURCE_URL=jdbc:mysql://db/blog
    - SPRING_DATASOURCE_PASSWORD=pass
    - SPRING_DATASOURCE_USERNAME=root
  links:
    - db
db:
  environment:
    - MYSQL_ROOT_PASSWORD=pass
    - MYSQL_DATABASE=blog
  ports:
    - "3306:3306"
  image: mysql:5.5.62